
{
String rest = ${params[0]}.toString();
${params[1]} = new ArrayList();
while(rest.length() > 0){
	if(rest.length() >= 5){
		((List)${params[1]}).add(rest.substring(0,5));
		//System.out.println("Adding "+rest.substring(0,5));
		rest = rest.substring(5);
	} else {
		((List)${params[1]}).add(rest);
		//System.out.println("Adding "+rest);
		rest = "";
	}
}
} 
//System.out.println("added: "+ ((List) ${params[1]}).size());

//${params[1]} = ${params[0]}.getChars().toList().collate(5).collect{ new String(it.toArray(new char[0])) }
%%VARS:${params[0]}, ${params[1]}%% 